@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
   font-family: 'Outfit', sans-serif;
   font-optical-sizing: auto;
}

.active > hr {
   @apply bg-primary;
}

#specialityMenu::-webkit-scrollbar,
#bookingSlots::-webkit-scrollbar,
#bookingSlotsTimes::-webkit-scrollbar {
   @apply hidden;
}

.react-datepicker__navigation--years {
   background: none;
   line-height: 1.7rem;
   text-align: center;
   cursor: pointer;
   padding: 0;
   border: 0.45rem solid transparent;
   z-index: 1;
   height: 10px;
   width: 10px;
   text-indent: -999em;
   overflow: hidden;
   position: relative;
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.react-datepicker__navigation--years.react-datepicker__navigation--years-upcoming {
   top: -4px;
   border-bottom-color: #ccc;
}

.react-datepicker__navigation--years.react-datepicker__navigation--years-previous {
   top: 4px;
   border-top-color: #ccc;
}

@media screen and (max-width: 768px) {
   #mobileMenu ul a.active {
      @apply text-white bg-primary;
   }
}
